/* html {
  scroll-behavior: smooth;
} */
html, body, #root {
  background: #fff !important;
  width: 100vw !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
  box-sizing: border-box;
}
body {
  padding-top: env(safe-area-inset-top);
}
*, *::before, *::after {
  box-sizing: inherit;
} 